<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Admin access key ID</title>
        <title lang="de-DE">Admin access key ID</title>
        <input-field type="text">
            <name>frAdminAccessKeyID</name>
            <label>Access key ID</label>
            <label lang="de-DE">Access key ID</label>
            <placeholder>abcdefgh</placeholder>
        </input-field>
    </card>

    <card>
        <title>Admin secret access key</title>
        <title lang="de-DE">Admin secret access key</title>
        <input-field type="text">
            <name>frAdminSecretAccessKey</name>
            <label>Secret access key</label>
            <label lang="de-DE">Secret access key</label>
            <placeholder>abcdefgh</placeholder>
        </input-field>
    </card>

    <card>
        <title>Folder Id</title>
        <title lang="de-DE">Folder Id</title>
        <input-field type="text">
            <name>frFolderId</name>
            <label>Folder ID will auto generate when plugin activate</label>
            <label lang="de-DE">Folder ID will auto generate when plugin activate</label>
            <placeholder>abcdefgh</placeholder>
            <disabled>true</disabled>
        </input-field>
    </card>

    <card>
        <title>Activation</title>
        <title lang="de-DE">Activation</title>
        <input-field type="bool">
            <name>frActivation</name>
            <label>Enable/Disable the Module</label>
            <label lang="de-DE">Enable/Disable the Module</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Token</title>
        <title lang="de-DE">Token</title>
        <input-field type="text">
            <name>frToken</name>
            <label>Filerobot token from your Filerobot account</label>
            <label lang="de-DE">Filerobot token from your Filerobot account</label>
            <placeholder>abcdefgh</placeholder>
        </input-field>
    </card>

    <card>
        <title>CNAME</title>
        <title lang="de-DE">CNAME</title>
        <input-field type="text">
            <name>frCNAME</name>
            <label>Enter the CNAME as per configuration done in your Filerobot Asset Hub interface, once validated and SSL certificate accepted. (Or leave blank if none)</label>
            <label lang="de-DE">Enter the CNAME as per configuration done in your Filerobot Asset Hub interface, once validated and SSL certificate accepted. (Or leave blank if none)</label>
            <placeholder>media.mydomain.com</placeholder>
        </input-field>
    </card>

    <card>
        <title>Security Template Identifier</title>
        <title lang="de-DE">Security Template Identifier</title>
        <input-field type="text">
            <name>frSEC</name>
            <label>To load the Filerobot Widget or Filerobot Image Editor, you need to create a Security Template in your Filerobot Asset Hub first, in order for your Shopware instantiation of the Filerobot Widget to obtain proper credentials and access your storage.</label>
            <label lang="de-DE">To load the Filerobot Widget or Filerobot Image Editor, you need to create a Security Template in your Filerobot Asset Hub first, in order for your Shopware instantiation of the Filerobot Widget to obtain proper credentials and access your storage.</label>
            <placeholder>SECU_3268740A1382466B9XBC390D8</placeholder>
        </input-field>
    </card>

    <card>
        <title>Filerobot upload directory</title>
        <title lang="de-DE">Filerobot upload directory</title>
        <input-field type="text">
            <name>frUploadDirectory</name>
            <label>The directory in your Filerobot account, where the files will be stored</label>
            <label lang="de-DE">The directory in your Filerobot account, where the files will be stored</label>
            <placeholder>/wp_assets</placeholder>
            <defaultValue>/wp_assets</defaultValue>
        </input-field>
    </card>
</config>